<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= t ".form" %> <%= pluralize @user.errors.count, t(".err") %>.
    </div>
    <% @user.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
    <% end %>
  </div>
<% end %>