<div class="container">
  <div class="panel-heading">
    <a href="/exam/create_show">
      <button>Tạo kỳ thi</button>
    </a>
    <hr/>
    <form action="" method="post">
      <p>Tên kỳ thi</p><input type="text"><br>
      <p>Mã kỳ thi</p><input type="text"><br>
      <p>Nằm trong khoảng</p><input type="text"><br>
      <p>Môn thi</p><input type="text"><br>
      <p>Giám thị</p><input type="text"><br><br>
      <input type="submit" name="filter" value="Lọc kỳ thi">
    </form>
    <table class="infomation_exam" border="1" width="1200px">
      <tr>
        <td>Tên kỳ thi</td>
        <td>Mã kỳ thi</td>
        <td>Nằm trong khoảng</td>
        <td>Môn thi</td>
        <td>Giám thị</td>
        <td>Chi tiết</td>
      </tr>
    </table>
  </div>
</div>
