<div class="container">
  <div class="panel-heading">
  	<h2>Thông tin kỳ thi</h2>
	<h4>Tên kỳ thi: <%= @exam.exam_name %></h4>
	<h4>Giám thị: <%= @exam.teacher %></h4>
	<h4>Môn thi: <%= @exam.subject %></h4>
	<h4>Đề thi:</h4>
  </div>
</div>
